# Telegram Bot Token
BOT_TOKEN=8260246769:AAHP0OOyCv_JrOWhVRsD0rsImN7REvhFUz4

# MySQL Database
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=padval
DB_PORT=3306

# Environment
NODE_ENV=production
